body{
    background-color: lightblue;
    font-family: verdana;
    font-size: 14px;

}

h1,h2 {
    color: white;
    text-align: center;

}

h2{
    color: #8000ff;
}

#para2{
    font-style: italic;
}

footer{
    font-size: 10px;
}

.book-title{
    color:red;
}

p{
    text-align:justify;
}


div{
    width: 1000px;
    background-color: lightgreen;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav{
    background-color: black;
}

li{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;

}

li a{
    display:inline-block;
    text-decoration: none;
    color:#fff;
}

a:hover{
    background-color: blue;
    color: white;

}

a:active{
    background-color: blue;
    color: green;
}

.home a:active,
.home a {
  background-color: blue;
  color: white;
}

