.button:hover{
    -fx-border-color: #003300;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.button:pressed{
    -fx-border-color: #003300;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}